version: 2
updates:
  - package-ecosystem: bundler
    directory: "/"
    schedule:
      interval: daily
      time: "08:30"
      timezone: America/New_York
    open-pull-requests-limit: 99
    reviewers:
    - javierjulio
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
      time: "08:30"
      timezone: America/New_York
    open-pull-requests-limit: 99
    reviewers:
    - javierjulio
